.post-index {
  width: 400px;
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  background-color: #dddddd46;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.post-item {
  background-color: #dddddd46;
  margin: 20px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  border-style: solid;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.post-pen-icon {
  padding: 10px;
}
.post-img-input {
  display: none;
  position: relative;
}
.post-textarea {
  width: 90%;
  height: 100px;
  padding: 5px;
  color: #f2f2f2;
  align-content: center;
  border-style: none;
  resize: none;
  background-color: transparent;
}

.folder {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
}
.folder-icon {
  padding-top: 40px;
}
.post-btn-border {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.post-close-btn {
  width: 80px;
  padding: 10px;
  color: #ffffff;
  /* background-color: #ffffff44; */
  background-image: linear-gradient(45deg, #ea01ff 0%, #f28fff 100%);
  font-family: Verdana;
  border-style: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.post-submit-btn {
  width: 80px;
  padding: 10px;
  color: #ffffff;
  /* background-color: #ffffff44; */
  background-image: linear-gradient(45deg, #0151ff 0%, #8198fc 100%);
  font-family: Verdana;
  border-style: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.plus-icon-border {
  /* background-color: #c4c4c498; */
  background-image: linear-gradient(45deg, #ea01ff 0%, #f28fff 100%);
  color: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
