.order-index {
  width: 450px;
  height: 500px;
  padding-top: 20px;
  background-color: #27272c;
  border: #f2f2f2;
  border-style: solid;
  border-radius: 1rem;
  text-align: center;
}

.order-item {
  margin: 20px;
  display: flex;
  background-color: #353547;
  color: #f2f2f2;
  border-style: solid;
  border-radius: 1rem;
}

.order-item-title {
  padding: 10px;
}

.order-item-input {
  font-family: monospace;
  padding: 5px;
  color: #f2f2f2;
  /*text-shadow: 0 0 0.2em rgb(201, 119, 255);*/
  align-content: center;
  border-style: none;
  background-color: transparent;
}
.order-img-input {
  display: none;
  position: relative;
}
.folder {
  height: 250px;
  width: 250px;
}
.folder-icon {
  padding-top: 40px;
}
.preview {
}
.preview-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.preview-dlt-icon {
  padding-left: 20px;
}

.order-btn {
  width: 100px;
  padding: 10px;
  color: #f2f2f2;
  font-family: monospace;
  background-image: linear-gradient(
    -225deg,
    #32e48b 0%,
    #18a2f2 48%,
    #4801ff 100%
  );
  border-radius: 1rem;
}

@media only screen and (min-width: 600px) {
  .order-index {
  }
}
