.navbar-item {
  /* background-image: linear-gradient(
    -225deg,
    #32e48b 0%,
    #18a2f2 48%,
    #4801ff 100%
  ); */
  /*text-shadow: 0 0 0.2em rgb(201, 119, 255);*/
  padding: 0.5rem 1.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  color: #f2f2f2;
  text-decoration: none;
}

.logo {
  font-size: 1.2rem;
}
.navbar-menu {
  display: flex;
}
.wallet-logo {
  font-size: 1.5rem;
}
.if-connect-circle {
  padding: 0rem 0.2rem;
  color: rgba(31, 255, 50, 0.897);
  /* color: rgb(81, 255, 168); */
}
@media only screen and (max-width: 700px) {
  .navbar-menu {
    display: none;
  }
}
.menu-icon {
  color: #f2f2f2;
  padding: 0rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.navbar-dropbar {
  color: #f2f2f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-dropbar-wallet {
  color: #f2f2f2;
  font-size: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 700px) {
  .navbar-dropbar {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .responsive-wallet {
    display: none;
  }
}
