.sidebar-index {
  background-color: #c4c4c498;
  width: 300px;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}
.sidebar-index.active {
  right: 0;
  transition: 350ms;
}

@media only screen and (min-width: 700px) {
  .sidebar-index {
    display: none;
  }
}
.sidebar-menu {
  width: 100%;
}
.menu-bar {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  /* background-color: #c4c4c498; */
  background-image: linear-gradient(45deg, #ea01ff 0%, #f28fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.angle-icon {
  color: #ffffff;
}
.sidebar-menu-items {
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
}
.menu-item-border {
  /* background-color: #c4c4c498; */
  background-image: linear-gradient(45deg, #0151ff 0%, #8198fc 100%);
  width: 95%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.menu-text {
  color: #ffffff;
}
.menu-btn-border {
  text-align: center;
  padding-top: 10rem;
}
.menu-btn {
  font-family: Verdana;
  color: #ffffff;
  padding: 1.5rem 2.5rem;
  /* background-color: #c4c4c498; */
  background-image: linear-gradient(45deg, #ea01ff 0%, #f28fff 100%);
  cursor: pointer;
  border-style: none;
  border-radius: 50px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
